.header-navigation {
    display: flex;
    justify-content: space-between;
    padding-block: 1rem;
}

.header-title {
    padding-block: 2.2rem;
    background-image: url("../img/photo/ACME_Background-Pattern.png");
    background-position: 50% 25%;
    background-size: 115%;
}

@media (width >= 50em) {
    .header-title {
        padding-block: 3.5rem;
    }
}

.logo {
    height: 2.25em;
}

@media (width >= 50em) {
    .header-navigation {
        display: flex;
        justify-content: space-between;
        padding-block: 1rem;
    }

    .logo {
        height: 4em;
    }
}

.navbar {
    display: none;
    align-items: center;
    inset: 0;
    z-index: 1;
    padding-left: 1em;
    background-color: var(--clr-yellow);

    & > ul {
        display: flex;
        flex-direction: column;
        gap: 1em;
    }
}

.navbar-item {
    display: inline-block;
    position: relative;

    .dropdown-button {
        position: relative;
        padding-inline: 2em;
        border: 0;
        background-color: transparent;
        color: var(--clr-white);
        cursor: pointer;
    }

    .dropdown-container {
        display: none;

        & ul {
            display: flex;
            flex-direction: column;
            gap: 0.2em;
            margin-block: 1.2rem 0.4rem;
            margin-left: 4rem;
            background-color: var(--clr-yellow);
            white-space: nowrap;
        }

        & a {
            color: var(--clr-white);
            text-decoration: none;
        }
    }
}

.menu-button {
    position: fixed;
    right: 1em;
    align-items: flex-end;
    z-index: 2;

    & button {
        border: none;
        padding: 0.3em;
        background-color: var(--clr-yellow);

        & svg {
            height: 1.75em;
        }
    }
}

.navbar.active {
    display: flex;
    position: fixed;
}    


.navbar-item.active {
    .dropdown-button {
        color: var(--clr-green);
    }
    .dropdown-container {
        display: block;
    }
}

@media (width >= 50em) {
    .navbar {
        display: flex;
        align-items: flex-end;
        position: unset;
        inset: unset;
        padding-left: 0;
        background-color: transparent;

        & > ul {
            display: flex;
            flex-direction: row;
            gap: 0;
        }
    }

    .navbar-item {
        display: inline-block;
        position: relative;

        &:hover {
            .dropdown-button {color: var(--clr-green);}
            .dropdown-container {display: block;}
        }

        .dropdown-button {
            position: relative;
            padding-inline: clamp(1.3rem, -2.4333rem + 7.4667vw, 2rem);
            border: 0;
            background-color: transparent;
            color: unset;
            cursor: pointer;
        }

        .dropdown-container {
            display: none;
            position: absolute;
            padding-top: calc(1rem - 0.25rem);
    
            & ul {
                display: flex;
                flex-direction: column;
                gap: 0.2rem;
                margin: unset;
                padding: 2rem;
                background-color: var(--clr-yellow);
                white-space: nowrap;
            }

            & a {
                color: var(--clr-white);
                text-decoration: none;
                &:hover {color: var(--clr-green);}
            }
        }
    }

    .menu-button {
        display: none;
    }

    .current-page {
        .dropdown-button {
            color: var(--clr-yellow)
        }

        &.navbar-item::before {
            content: "";
            position: absolute;
            width: 100%;
            height: calc((1.35rem * 1.5) + 1rem);
            border-bottom: solid 0.25rem var(--clr-yellow);
        }
    }
}

.header-breadcrumbs {
    padding-block: 0.25rem;
    background-color: var(--clr-yellow);

    & div {
        display: flex;
        align-items: center;

    }

    & svg {
        height: var(--fs-300);
        margin-inline: 1rem;
    }

    & a {
        color: var(--clr-ink);
        text-decoration: none;
    }

    & a:last-of-type {
        color: var(--clr-white)
    }
}