.header-navigation {
    padding-block: 1rem; 
}

.header-title {
    padding-block: 2.5rem;
    background-image: url("../img/photo/ACME_Background-Pattern.png");
    background-position: 50% 25%;
    background-size: 115%;
}

.logo {
    height: 4rem;
}

nav {
    & li + li {
        margin-left: 3rem;
    }
}

/* breadcrumb styles breadcrumb styles breadcrumb styles breadcrumb styles */
/* breadcrumb styles breadcrumb styles breadcrumb styles breadcrumb styles */

.header-breadcrumbs {
    background-color: var(--clr-yellow);
    padding-block: 0.25rem;

    & img {
        height: var(--fs-300);
        margin-inline: 1rem;
    }

    & a:last-of-type {
        color: var(--clr-white)
    }
}