@import url("global.css");

@import url("header.css");
@import url("footer.css");

main {
    padding-block: 3rem;
}
/* 
.main-container {
    display: flex;
    flex-direction: column;
} */

/* styles for article styles for article styles for article styles for article */
/* styles for article styles for article styles for article styles for article */

.article {
    margin-bottom: 5rem;

    & time {
        display: block;
        margin-bottom: 0.4rem;
    }

    & h2 {
        margin-bottom: 1rem;
    }

    & h3 {
        margin-block: 2.5rem 0.5rem;
    }

    & h4 {
        margin-block: 1.5rem 1.5rem;
    }

    & p + p {
        margin-top: 1.5rem;
    }
}

.cover-photo {
    width: 100%;
    aspect-ratio: 16/5;
    object-fit: cover;
    margin-bottom: 0.5rem;
}

/* list im text styles list im text styles list im text styles list im text styles */
/* list im text styles list im text styles list im text styles list im text styles */


.bullet-points {
    margin-bottom: 1.5rem;

    & li {
        margin-block: 0.8rem;
    }

    & img {
        height: 1.15rem;
        margin-right: 1.5rem;
    }
}

/* slider styles slider styles slider styles slider styles slider styles */
/* slider styles slider styles slider styles slider styles slider styles */

.slideshow {
    width: 100dvw;
    margin-left: -1rem;
    margin-block: 3rem;
    border-bottom: solid 4px var(--clr-yellow);

    .slideshow__caption {
        margin-block: 0.7rem;
        margin-left: 1rem;
    }
}

@media (orientation: landscape) {
    .slideshow {
        position: relative;
        width: auto;
        margin-left: 0;

        .slideshow__caption {
            margin-block: 0.7rem;
            margin-left: unset;
        }
    }
}

.slideshow__slide {
    width: 100%;
    aspect-ratio: 16 / 5;
    background-image: url("../img/photo/ACME_Article-Picture.jpg");
    background-size: 120%;
    background-position: 85% 66%;
}

.slideshow__buttons {
    display: none;
}

@media (orientation: landscape) {

    .slideshow__buttons {
        position: absolute;
        display: flex;
        flex-direction: column;
        right: 0;
        bottom: 0;
    
        & button {
            border: 0;
            padding: 1rem;
            background-color: var(--clr-yellow);
            cursor: pointer;
    
            & img {
                height: 2.2rem;
                filter: invert(90%) sepia(100%) saturate(2%) hue-rotate(319deg) brightness(107%) contrast(100%);
            }
        }
    
        & button + button {
            margin-top: 0.25rem;
        }
    }
}

/* zitat styles zitat styles zitat styles zitat styles zitat styles */
/* zitat styles zitat styles zitat styles zitat styles zitat styles */

.quote {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 0.3125rem;
    margin-block: 2rem;
    background: linear-gradient(to right, var(--clr-green-light) calc((100% - 0.3125rem) / 2), transparent 0);
}

.quote__inner-container {
    grid-column: 2/7;

    & cite {
        align-self: flex-end;
    }

    & p {
        font-size: var(--fs-500);
        line-height: 1.4;
        margin-block: 2rem 0.8rem;
    }   
}

@media (orientation: landscape) {
    .quote {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 1rem;
        margin-block: 3rem;
        background: linear-gradient(to right, var(--clr-green-light) calc((100% - 1rem) / 2), transparent 0);
    }
    
    .quote__inner-container {
        grid-column: 2/5; 
    }
}


/* sidebar styles */

aside {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.card-header {
    font-family: var(--ff-heading);
    font-size: var(--fs-700);
    font-weight: var(--fw-medium);
    color: var(--clr-green-light);
    line-height: 0.87;
    transform: translate(-0.06em);
}

.card {
    background-color: var(--clr-green-light);
    padding: 2em;
}

.card__picture {
    width: 100%;
    aspect-ratio: 3 / 2;
    object-fit: cover;
}

.card-title {
    color: var(--clr-ink);
    margin-block: 1.5rem 1rem;

    & .subtitle {
        display: block;
        font-family: var(--ff-body);
        font-weight: var(--fw-light);
        line-height: 1.6;
        font-size: var(--fs-400);
        color: var(--clr-ink);
    }
}

.card__list {
    & li + li {
        margin-top: 0.7rem; 
    }

    & li::before {
        content: "";
        display: inline-block;
        flex-shrink: 0;
        height: 1.6rem;
        width: 1.6rem;
        background-size: contain;
        background-repeat: no-repeat;
        margin-inline: 0.2rem 1.2rem;
        opacity: 0.3;
    }
}

.phone-icon::before {
    background-image: url("../img/icon/Phone.svg");
}
.clock-icon::before {
    background-image: url("../img/icon/Clock.svg");
}

.image-icon::before {
    background-image: url("../img/icon/Image.svg");
}
.file-icon::before {
    background-image: url("../img/icon/File.svg");
}

.extern-icon::before {
    background-image: url("../img/icon/Extern-Link.svg");
}
.link-icon::before {
    background-image: url("../img/icon/Link.svg");
}

@media (orientation: landscape) {
    main {
        padding-block: 4rem;
    }

    .main-container {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        column-gap: 1rem;
    }

    .cover-photo {
        grid-column: 1/7;
        margin-bottom: 4rem;
        object-position: 50% 42%;
    }

    .article {
        grid-column: 1/5;
        margin-bottom: 0;
    }

    aside {
        grid-column: 5/7;
    }
}